.upper__left {
    position: relative;
    top: 13em;
    scale: 40%;
    right: 9em
}

.upper__right {
    text-align: end;
    padding: 0;
}

.upper__right > a{
    text-decoration: none;
    color: rgb(16, 251, 43);
}

.sign-in {
    margin-right: 1em;
}

.get-started {
    background-color: rgb(255, 255, 255);
    width: 4em;
    height: 2em;
    padding: .5em 1em .5em 1em;
    border-radius: .3em;
    border: solid 1px rgb(16, 251, 43);

}

.nav__lower{
    
    text-decoration: none;
    text-align: center;
    
}

.nav__lower > a {
    text-decoration: none;
    margin: 0em 5em 0em 5em;
}


.content {
    text-align: center;
    margin-left: 30em;
    margin-right: 30em;
    
}

p {
    text-align: left;
}
.external_links {
    text-align: left;
    display: inline;
    margin-right: 80em;
    
}

.listlinks > a{
    text-decoration: none;
    
}


.grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    justify-items: center;
    
    

}



#one {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: left;
    
   
    
}

#two {
    grid-column: 2 / 2;
    grid-row: 1;
    text-align: left;


}

#three {
    grid-column: 1 / 2;
    grid-row: 2;
    text-align: left;
   


}
#four {
    grid-column: 2 / 2;
    grid-row: 2;
    text-align: left;

}